<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.mrobot.cn" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".drawabletest.FlexboxActivity"
            android:label="@string/title_activity_flexbox"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity >
        <activity android:name=".custom.CanvasPaintActivity" >
        </activity >
        <activity android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter >
        </activity >
        <activity android:name=".shapetest.ShapeMainActivity" />
        <activity android:name=".shapetest.LayerListActivity" />
        <activity android:name=".shapetest.LevelListActivity" />
        <activity android:name=".shapetest.LineActivity" />
        <activity android:name=".shapetest.OvalActivity" />
        <activity android:name=".shapetest.RectangleActivity" />
        <activity android:name=".shapetest.RingActivity" />
        <activity android:name=".shapetest.SelectorActivity" />
        <activity android:name=".shapetest.ShapeActivity" />
        <activity android:name=".drawabletest.RvbgActivity" />
        <activity android:name=".drawabletest.IvbgActivity" />
        <activity android:name=".drawabletest.VideoViewBackgroundActivity" />
    </application >

</manifest >